body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* App.css */
button {
  background-color: #008cba; /* Cor de fundo */
  border: none; /* Sem borda */
  color: white; /* Cor do texto */
  padding: 15px 32px; /* Espaçamento interno */
  text-align: center; /* Alinhamento do texto */
  text-decoration: none; /* Sem sublinhado */
  display: inline-block; /* Exibição em linha */
  font-size: 16px; /* Tamanho da fonte */
  margin: 4px 2px; /* Margem */
  cursor: pointer; /* Cursor de mãozinha ao passar o mouse */
  border-radius: 4px; /* Bordas arredondadas */
  transition: background-color 0.3s; /* Transição suave para a cor de fundo */
}

button:hover {
  background-color: #005f73; /* Cor de fundo ao passar o mouse */
}

/* Adicione uma classe para o contêiner que usará Flexbox */
.flex-container {
  display: flex;
  justify-content: flex-end; /* Alinhar itens à direita */
}
